.topBar {
	width: 100%;
	height: 32px;
	background-color: black;
	border-bottom: 2px solid rgb(120, 120, 120);
	flex-shrink: 0;

	color: white;
	font-family: "ChronoType";

	font-size: 30px;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}

.dropdown {
	display: flex;
	height: 100%;
	margin: 0px 8px;
}
.dropdown > select {
	border: 2px solid #fff;
	border-radius: 0px;
	background-color: var(--background-dark-gray);
	font-weight: bolder;
	color: #fff;
	background: none;
	margin: 5px 0px;
	outline: none;
}
.dropdown > select:active {
	background-color: var(--background-dark-gray);
	color: #fff;
}
.dropdown > select:hover {
	cursor: pointer;
}

.title {
	margin-left: 8px;
	margin-right: auto;
}

.icon {
	height: 24px;
	margin: 0px 8px;
	cursor: pointer;
}

.settings {
	font-size: 28px;
	cursor: pointer;
}

.github {
	background-color: white;
	border-radius: 50%;
}

.invert {
	filter: invert(100%);
}